@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Mulish', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  @apply text-title;
}
p{
  @apply text-color;
}
/* tailwind components */
@layer components {
  /* Wrapper container */
  .container {
    @apply !max-w-screen-2xl mx-auto px-5;
  }
  /* Buttons */
  .btn-white{
    @apply bg-white text-title font-bold px-7 py-3 block w-fit rounded hover:shadow-md transition duration-300 ease-in-out;
  }
}