@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Mulish', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* tailwind components */
@layer components {
  /* Wrapper container */
  .container {
    @apply !max-w-screen-2xl mx-auto px-5;
  }
}